:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgb(20, 20, 20);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: calc(0.7rem + 0.4vw);
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

.card {
  color: inherit;
  border-radius: 8px;
  border: 2px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
   background-color: rgba(128, 128, 128, 0.2);
}
.card:hover {
  border-color: #646cff;
}
.card:focus,
.card:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#root {
  display: flex;
  flex-direction: column;
  width: 98vw;
  padding: 1vh 1vw;
}
.flex-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(100px + 8vw), 1fr));
  gap: 1rem;
}
.card > img{
  width: 100%;
  border-radius: 8px;
}
.card > div {
  padding: 0.4em 0.8em;
}
@media (prefers-color-scheme: light) {
  :root {
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255);
  }
}

/* Shimmer Effect styles */

.skeleton {
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 8px;
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

.skeleton-card {
  pointer-events: none; 
}

.skeleton-img {
  width: 90%;
  height: calc(150px + 14vw);
  border-radius: 8px 8px 0 0;
  display: block;
}

.skeleton-text {
  height: 2em;
  width: 80%;
  margin: 10px auto 5px auto; /* Center it */
}